<ion-header [translucent]="true" class="settings">
  <ion-toolbar>
    Settings
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="settings">
  <ion-list>
    <!-- Appearance Section -->
    <ion-list-header>
      <ion-label>Appearance</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Dark Mode</ion-label>
     <ion-toggle slot="end" [checked]="isDarkMode" (ionChange)="toggleTheme($event)"></ion-toggle>
    </ion-item>

    <!-- Audio Section -->
    <ion-list-header>
      <ion-label>Audio</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Streaming Quality</ion-label>
      <ion-select [(ngModel)]="streamingQuality" (ionChange)="onSetStreaming($event.detail.value)">
        <ion-select-option value="Low">Low</ion-select-option>
        <ion-select-option value="Medium">Medium</ion-select-option>
        <ion-select-option value="High">High</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Download Quality</ion-label>
      <ion-select [(ngModel)]="downloadQuality" (ionChange)="onSetDownload($event.detail.value)">
        <ion-select-option value="Low">Low</ion-select-option>
        <ion-select-option value="Medium">Medium</ion-select-option>
        <ion-select-option value="High">High</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Storage Section -->
    <ion-list-header>
      <ion-label>Storage</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Cache Size</ion-label>
      <ion-note slot="end">{{ cacheSize }}</ion-note>
      <ion-button slot="end" fill="clear" (click)="clearCache()">Clear</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
